.flipper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr) );
  }
  // .flipper.flip{
  //   grid-template-columns: 1fr 1fr;
  // }

  // .body_box {
  //   display: flex;
  //   flex-direction: column;
  // }

  .custom_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

  }

  .custom_colors {
    display: flexbox;
    flex-direction: column;

  }


  .stylizer_head {
    text-align: center;

  }

  .font_change {
    text-align: center;
  }


