
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);


}

.mat-elevation-z4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: none;
}


.directory_title {
    grid-column: 2;
    display: grid;
    justify-items: center;
}

.title_ml-2 {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: start;
    grid-gap: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    background: none;
    width: 150px;
}



.example-container {
    width: 500px;
    height: 300px;
    background: none;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: none;
  }
  
  .example-sidenav {
    padding: 20px;
    background: none;
  }
  .best_button {
      background: none;

  }

  .nav-link {
      cursor: pointer;
  }

  .directory__links {
      cursor: pointer;
  }
  .secret_list {
      cursor: pointer;
  }

  .nav-link:hover {
    opacity: 0.5;
}

  .directory__links:hover {
      opacity: 0.5;
}

.secret_list:hover {
    opacity: 0.7;
}

.float-btn {
    z-index: 1000;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background: none;

    color: #fff;
    border-radius: 50px;
    text-align: center;
    // box-shadow: 1px 1px 1px;
    border: 1px solid white;
    opacity: .7;

  }
  .float-btn:hover {
      opacity: 1.0;
      cursor: pointer;
  }

  .arrow_up {
      margin-top: 15px;
      font-size: 28px;
      margin-right: 3px;
  }

  .back-btn {
    z-index: 1000;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    background: none;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    // box-shadow: 1px 1px 1px;
    border: 1px solid white;
    opacity: .7;
  }

  .back-btn:hover {
      cursor: pointer;
      opacity: 1.0;
  }

  .example-button {
      background: none;
  }
  .example-button:hover {
      cursor: pointer;
      opacity: 0.5;
  }



  