<div class="header">
  <h1 class="directory_title">Placeholder</h1>
  <div class="example-sidenav-content"></div>
  <h1 class="title_ml-2">
    {{ title }}
    <button
      class="best_button"
      mat-mini-fab
      type="button"
      mat-button
      (click)="drawer.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </h1>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <nav>
        <li
          mat-button
          class="nav-link"
          *ngFor="let link of links"
          [routerLink]="link.path"
          routerLinkActive="active"
        >
          <mat-icon class="directory__links">{{ link.icon }}</mat-icon>
          {{ link.title }}
        </li>
      </nav>
      <p *ngIf="showFiller">
        <li class="secret_list">
          <mat-icon routerLink="/items" routerLinkActive="active">🇧🇷</mat-icon>
        </li>
      </p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Secret Button
      </button>
    </mat-drawer>
  </mat-drawer-container>
</div>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
