$itemGrow: 1.2;
$duration: 250ms;

html {
  scroll-behavior: smooth;
}

.app-content {
  display: grid;
  
}
 

body {
  margin: 0;
  background-color: #000;
  font-family: Arial;
}

h1 {
  display: grid;
  justify-items: center;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 100%);
  grid-template-rows: repeat(6, 100%);
  overflow:hidden;
  scroll-behavior: smooth;



  section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin: 20px 20px;

    

  


  
    
    .item {
      position: relative;
      grid-auto-flow: row;
      padding: 0 2px;
      transition: $duration all;
      max-width: 100%;
      height: auto;

      




     

      .cover_photo {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        min-height: 100%;
      }

      .viper_cover {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        min-height: 100%;
      }

      .stylizer_cover {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        min-height: 100%;
      }

      .cover_photo:hover {
        cursor: pointer;
        opacity: 0.5;
      }

      .viper_cover:hover {
        cursor: pointer;
        opacity: 0.5;
      }
      

      .stylizer_cover:hover {
        cursor: pointer;
        opacity: 0.5;
      }



      .heading {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: #fff;
      }
      
    }

  }
}