
<div class="wrapper">

  <section id="section1" class="carousel">

    <div class="item">
      <a>
        <img
          class="cover_photo"
          routerLink="/dense"
          routerLinkActive="Active"
          src="/assets/images/css-dense.png"
          alt="CSS Dense"
          matTooltip="Click to Navigate to Dense"
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="1000">

          <h1 class="heading">CSS Dense</h1>

      </a>
    </div>
    <div class="item">

      <a>
      <img
        class="viper_cover"
        routerLink="/f16s"
        routerLinkActive="Active"
        src="/assets/images/Viper-Demo.png"
        alt="ViperShots"
        matTooltip="Click to Navigate to the Viper Collage"
        matTooltipHideDelay="1000">
        
        <h1 class="heading">Viper Eyecandy</h1>

        
      </a>
    </div>
    <div class="item">

      <a>
      <img
        class="stylizer_cover"
        routerLink="/stylizer"
        routerLinkActive="Active"
        src="/assets/images/gradient.jpeg"
        alt="StylizerCover"
        matTooltip="Click to Navigate to the Stylizer Page"
        matTooltipHideDelay="1000">
        
        <h1 class="heading">Stylizer</h1>

        
      </a>
    </div>

    <div class="item">
      <a>
        <img
          class="cover_photo"
          routerLink="/tictactoe"
          routerLinkActive="Active"
          src="/assets/images/ttt.png"
          alt="Tic Tac Toe"
          matTooltip="Click to Navigate to TicTacToe"
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="1000">

          <h1 class="heading">Tic-Tac-Toe 🙃</h1>

      </a>
    </div><div class="item">
      <a>
        <img
          class="cover_photo"
          routerLink="/"
          routerLinkActive="Active"
          src="/assets/images/2.jpg"
          alt="CSS Dense"
          matTooltip="Click to Navigate to Nowhere"
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="1000">

          <h1 class="heading">Another Placeholder</h1>

      </a>
    </div><div class="item">
      <a>
        <img
          class="cover_photo"
          routerLink="/"
          routerLinkActive="Active"
          src="/assets/images/1.jpg"
          alt="CSS Dense"
          matTooltip="Click to Navigate to Nowhere"
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="1000">

          <h1 class="heading">More to Come</h1>

      </a>

      
    </div>

    <div class="item">
      <a>
        <img
          class="cover_photo"
          routerLink="/dense"
          routerLinkActive="Active"
          src="/assets/images/17.jpg"
          alt="CSS Dense"
          matTooltip="Click to Navigate to Dense"
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="1000">

          <h1 class="heading">Nothing</h1>

      </a>
    </div>

    <div class="item">
      <a>
        <img
          class="cover_photo"
          routerLink="/dense"
          routerLinkActive="Active"
          src="/assets/images/4.jpg"
          alt="CSS Dense"
          matTooltip="Click to Navigate to Dense"
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="1000">

          <h1 class="heading">More Nothing</h1>

      </a>
    </div>

    <div class="item">
      <a>
        <img
          class="cover_photo"
          routerLink="/dense"
          routerLinkActive="Active"
          src="/assets/images/22.jpg"
          alt="CSS Dense"
          matTooltip="Click to Navigate to Dense"
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="1000">

          <h1 class="heading">Still Nothing</h1>

      </a>
    </div>

    

    


  </section>
</div>