
<div class="wrapper">

  <section id="section1" class="carousel">

    <div class="item">
      <a>
        <img
          class="cover_photo"
          routerLink="/dense"
          routerLinkActive="Active"
          src="/assets/images/css-dense.png"
          alt="CSS Dense"
          matTooltip="Click to Navigate to Dense"
          [matTooltipPosition]="position.value"
          matTooltipHideDelay="1000">

          <h1 class="heading">CSS Dense</h1>

      </a>
    </div>
    <div class="item">

      <a>
      <img
        class="viper_cover"
        routerLink="/f16s"
        routerLinkActive="Active"
        src="/assets/images/Viper-Demo.png"
        alt="ViperShots"
        matTooltip="Click to Navigate to the Viper Collage"
        matTooltipHideDelay="1000">
        
        <h1 class="heading">Viper Eyecandy</h1>

        
      </a>
    </div>
    <div class="item">
      
      <a href="#">
      <img
        src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/412e4119fb212e3ca9f1add558e2e7fed42f8fb4/AAAABQCoK53qihwVPLRxPEDX98nyYpGbxgi5cc0ZOM4iHQu7KQvtgNyaNM5PsgI0vy5g3rLPZdjGCFr1EggrCPXpL77p2H08jV0tNEmIfs_e8KUfvBJ6Ay5nM4UM1dl-58xA6t1swmautOM.webp"
        alt="Describe Image">
        <h1 class="heading">Heading One</h1>
        <p class="duration">Duration: 10 min</p>
      </a>
    </div>
    <div class="item">
      <a href="#">
      <img
        src="https://occ-0-243-299.1.nflxso.net/dnm/api/v5/rendition/412e4119fb212e3ca9f1add558e2e7fed42f8fb4/AAAABdYtAqj8CyaJTWq5taD8Ro_UgwH3nne9QpFGVps-2J3IG-leqrfqXFii4jzZn48nPYTkrlwKQEV0R7_cEKlYBPRzdKqNODc-Oz26IL3LlLgFboXibIWXwxzeYxzuqn0I9TpARjeByw.jpg"
        alt="Describe Image">
        
        <h1 class="heading">Heading One</h1>
        <p class="duration">Duration: 10 min</p>
      </a>
    </div>

    
    



  </section>
</div>