
  <div class="overlay">
    <div class="overlay-inner">
      <button class="close">× Close</button>
      <img>
    </div>
  </div>

  <section class="gallery">
    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>

    <div class="item h{{randomNumber(1, 4)}} v{{randomNumber(1, 4)}}">
      <img src="/assets/images/{{randomNumber(1, 12)}}.jpg" alt="image">
      <div class="item__overlay">
        <button>View →</button>
      </div>
    </div>




      





    

    





